# MS Visual Studio project files

inalan.csproj
inalan.csproj.user
*.cache
*.cs
*.config

bin/inalan.dll
bin/inalan.pdb
obj/Debug/inalan.csproj.FileListAbsolute.txt
obj/Debug/inalan.dll
obj/Debug/inalan.pdb
